/* Reset basique */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
    cursor: url('../ressources/pointinghand_eighty.cur'), auto;
}

/* Fond global */
html, body, .page-container {
    background-color: #000000;
    user-select: none;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    min-height: 80px;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    background-color: black;
    color: darkorange;
    border-bottom: 6px solid darkorange;
}

/* Zones gauche / centre / droite */
.header .left,
.header .center,
.header .right {
    display: flex;
    align-items: center;
}

/* Barre de recherche centrée */
.header .center {
    flex: 1;
    justify-content: center;
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bold;
}

.header .search-bar {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 5px;
    border-radius: 10px;
    gap: 5px;
}

.header .search-bar input {
    width: 300px;
    font-size: 20px;
    transition: width 0.3s;
    height: 75%;
    padding: 0 10px;
    border-radius: 6px;
    border: none;
    background-color: #333;
    color: #fff;
}

.header .search-bar input:focus {
    background-color: rgba(51, 51, 51, 0.65);
    width: 390px;
}

.header .search-bar button {
    font-size: 14px;
    height: 75%;
    padding: 0 15px;
    border-radius: 6px;
    background-color: darkorange;
    border: none;
    transition: transform 0.1s, background-color 0.2s;
}

.header .search-bar button:active {
    transform: scale(1.05);
}

.header .search-bar button:hover {
    background-color: #e07b00;
    color: #fff;
}

/* Boutons à droite */
.header .right {
    gap: 15px;
}

.header .right button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.header .right button.upload,
.header .right button.download,
.header .right button.create_folder,
.header .right button.delete {
    background-color: black;
    width: 45px;
    height: 45px;
}

.header .right button img {
    max-width: 30px;
    max-height: 30px;
}

.header .right button.download:hover,
.header .right button.upload:hover,
.header .right button.create_folder:hover,
.header .right button.delete:hover {
    background-color: rgba(255,255,255,0.08);
}

/* Boutons orange */
.header .right button.profil,
.header .right button.logout {
    height: 45px;
    padding: 0 15px;
    border-radius: 4px;
    background-color: darkorange;
    font-size: 1.15rem;
    transition: background-color 0.2s;
    color: black;
}

.header .right button.profil:hover,
.header .right button.logout:hover {
    background-color: #c96a00;
    color: #fff;
}

.header .right button:active {
    transform: scale(1.05);
}

/* Conteneur principal */
.page-container {
    display: flex;
    height: calc(100vh - 80px);
}

/* Sidebar */
.sidebar {
    position: fixed;
    width: 250px;
    padding: 20px;
    background-color: black;
    height: 100%;
    top: 80px;     /* hauteur du header */
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

.sidebar h3 {
    margin-bottom: 12px;
    font-size: 1.25rem;
    color: #ffffff;
    letter-spacing: 1px;
}

.sidebar ul {
    list-style: none;
    margin-bottom: 25px;
}

.sidebar li {
    margin-bottom: 8px;
}

/* Checkbox cachée */
.filter {
    display: none;
}

/* Boutons de filtre */
.sidebar label {
    display: block;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: darkorange;
    color: black;
    margin-bottom: 5px;
    text-align: center;
    font-size: 1.15rem;
    transition: background-color 0.2s, color 0.2s, transform 0.2s;
}

label:active {
    transform: scale(1.05);
}

.filter:checked + label {
    background-color: darkorange;
    color: white;
}

.filter:checked + label:hover {
    background-color: #d6790a;
    color: black;
}

.sidebar label:hover {
    background-color: #d6790a;
    color: white;
}

/* Main content */
.main-content {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, 90px);
    grid-auto-rows: 120px;
    gap: 22px;
    padding: 25px;
    background-image: url('../ressources/bkg.jpg');
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    margin-top: 80px;      /* place pour le header */
    margin-left: 250px;    /* place pour la sidebar */
    height: calc(100vh - 80px);
    overflow-x: hidden;
    overflow-y: auto;      /* permet de scroller */
}

/* Icônes */
.folder-icon, .file-icon {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
    background-color: rgba(147, 136, 122, 0.29);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
    transition: background-color 0.25s, box-shadow 0.25s;
}

.folder-icon:hover, .file-icon:hover {
    background-color: rgba(147, 136, 122, 0.74); }


.folder-icon.ctrl, .file-icon.ctrl {
    background-color: rgba(147, 136, 122, 0.74); }

.folder-icon.show, .file-icon.show {
    background-color: rgba(251, 7, 7, 0.55);
    box-shadow: 0 0 6px rgb(0, 0, 0);
}

.folder-icon img, .file-icon img {
    max-width: 75px;
    max-height: 75px;
}

.folder-icon .name, .file-icon .name {
    font-size: 0.8rem;
    word-break: break-word;
    margin-top: 5px;
}


.popup {
    display: none;
    position: fixed; /* centré à l'écran */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;       /* taille assez grande */
    max-width: 90%;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 0 30px darkorange;
    overflow: hidden;
    z-index: 1000;
    font-family: Arial, sans-serif;
}

.popup.show {
    display: block;
}


/* Bandeau header du popup */
.popup-header {
    background-color: black; /* rose complémentaire de l'orange */
    color: #ffffff;
    padding: 15px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 7px solid darkorange;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Bouton fermer en haut à droite */
.popup-header .close-btn {
    background-color: darkorange;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 1rem;
    transition: background-color 0.2s, transform 0.1s;
}

.popup-header .close-btn:hover {
    background-color: #e07b00;
    color: #fff;
    transform: scale(1.05);
}

/* Contenu du popup */
.popup-content {
    padding: 20px;
    color: #000;
    background-color: #000000;
    min-height: 200px;
}

/* Boutons internes */
.popup-content button {
    background-color: darkorange;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    margin: 5px;
    font-size: 1rem;
    transition: background-color 0.2s, transform 0.1s;
}

.popup-content button:hover {
    background-color: #e07b00;
    color: #fff;
    transform: scale(1.05);}

.main-content::-webkit-scrollbar {
    width: 12px;             /* largeur de la barre */
}

.main-content::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.07); /* couleur du fond */
    border-radius: 10px;
}

.main-content::-webkit-scrollbar-thumb {
    background-color: darkorange; /* couleur du curseur */
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.2);  /* contour du curseur */
}

.main-content::-webkit-scrollbar-thumb:hover {
    background-color: #d58018; /* couleur au survol */
}