html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../ressources/galaxy.jpeg') center/cover no-repeat fixed;
    position: relative;
}

.page::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.2); /* léger filtre pour contraste */
    z-index: -1;
}

.login-box {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 350px;
    padding: 1.8rem;
    background-color: rgba(240, 240, 245, 0.85);
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    box-sizing: border-box;
}

.login-box h1 {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: #1e1f22;
}

.login-box form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
}

.login-box form label {
    font-size: 1rem;
    color: #1e1f22;
}

.login-box form input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1.8px solid rgba(92,86,86,0.7);
    border-radius: 5px;
    background-color: rgba(227,224,239,0.85);
    transition: border-color 0.3s;
}

.login-box form input:focus {
    outline: none;
    border-color: #4c77af;
}

.login-box form button {
    background-color: #4CAF50;
    color: white;
    padding: 13px ;
    margin-top: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 60%;
    align-self: center;
    transition: background-color 0.3s;
}

.login-box form button:hover {
    background-color: #45a049;
}

.login-box form a {
    display: block;
    text-align: center;
    margin-top: 0.5rem;
    color: #333;
    font-size: 1.1rem;
    text-decoration: none;
    transition: color 0.2s;
}

.login-box form a:hover {
    color: #1976D2;
}

.login-box .message {
    text-align: center;
    font-size: 1.1rem;
    color: #e53935;
    margin-top: 0.5rem;
}

#notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 8px 18px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease, bottom 0.5s ease;
}

#notification.show {
    opacity: 1;
}
